.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.coral{
  color: coral;
}

h1{
  color: coral;
}

header{
  background-color: black;
  padding-bottom: 1px;
}

a{
  color: coral;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(coral, coral);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
  color: coral;
}

.listaNav{
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.listaNav>li{
  padding: 0.4em;
  margin: 0.2em;
}